@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff0000;
  --color-secondary: #3b0000;
}

.button{
  @apply bg-primary px-4 py-2 rounded text-white font-bold cursor-pointer hover:bg-red-800  duration-500;
}


h1{
  @apply  text-4xl lg:text-5xl font-bold;
}
h2{
  @apply text-lg md:text-xl lg:text-2xl font-bold;
}
h3{
  @apply text-xl font-bold;
}
h4{
  @apply text-lg font-semibold;
}
h5{
  @apply font-semibold;
}




